body {height: 100%; position: relative; padding-top: 66px;}
nav.navbar {width: 100%; text-align: center; border: none; position: fixed; top: 0; z-index: 1000;}
ul.nav {padding: 12px 0; list-style: none; text-align: center; background: #1a1a1a; border: none;}
ul.nav li {text-transform: uppercase; display: inline-block;}
ul.nav li a {
  color: #fff; font-size: 16px; font-weight: 400;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
ul.nav li a:hover {color: #f3d325; background: #1a1a1a;}
.container {position: relative;}
h1 {font-weight: bold; margin-bottom: 40px; position: relative;}
h1:before {
  content: '';
  display: block; width: 400px; height: 1px;
  position: absolute; top: 50px; left: 0;
  background: #e2e2e2;
}
h1:after {
  content: '';
  display: block; width: 160px; height: 5px;
  position: absolute; top: 46px; left: 0;
  background: #f3d325;
}
figure {margin-bottom: 15px;}
p.date {font-size: 12px;}
p.title {font-size: 20px; font-weight: bold;}
p.text, figcaption.text {font-size: 16px; line-height: 1.5; letter-spacing: 0.2px; margin-bottom: 30px;}
figcaption.text {margin-top: 20px;}
strong.line {font-weight: bold; border-bottom: 2px solid #f3d325;}
ul.int {
  margin-top: 22px;
}
table.table tr:nth-child(even) {
  background: #fbfbfb;
}
table.table tr {
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
table.table tr:hover {
  background: #f5f5f5;
}
table.table tr:first-child:hover {
  background: #fff;
}
footer.footer {
  width: 100%; height: 50px; margin-top: 20px; text-align: center;
  background: #1a1a1a;
}
footer.footer small {color: #fff; line-height: 50px;}
