div.container {text-align: center;}
h1 {font-size: 32px; margin-bottom: 30px;}
.form-inline .form-control {width: 250px;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}