header.header {
  height: 110px; width: 100%; margin-bottom: 30px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(270deg, rgb(255, 255, 255) 13%, rgb(49, 176, 213) 70%);
  background: -webkit-linear-gradient(270deg, rgb(255, 255, 255) 13%, rgb(49, 176, 213) 70%);
  background: -o-linear-gradient(270deg, rgb(255, 255, 255) 13%, rgb(49, 176, 213) 70%);
  background: -ms-linear-gradient(270deg, rgb(255, 255, 255) 13%, rgb(49, 176, 213) 70%);
  background: linear-gradient(0deg, rgb(255, 255, 255) 13%, rgb(49, 176, 213) 70%);
}
h1 {color: #f5f5f5; text-align: center; margin: 0 0 30px; padding: 15px;}
h3 {text-align: center; margin-bottom: 20px;}
.center {text-align: center;}
.left {text-align: left;}
label {font-size: 17px;}
.input-container {
  font-size: 16px; line-height: 1;
  width: 180px; padding: 9px; margin: 0 auto; text-align: center;
  position: relative; overflow: hidden;
  background: #eee; border: 1px solid #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.input-container:hover {background: #e2e2e2;}
.input-container input[type=file] {
  font-size: 200px;
  position: absolute; top: 0; right: 0;
  opacity: 0; filter: alpha(opacity=0);
  cursor: pointer;
}
.form-group p {color: #c2c2c2;}
.btn {font-size: 16px;}
button.enter {margin-top: 15px; padding: 6px 50px;}
a.ml {margin-left: 5px;}
p.hello {font-size: 24px;}
.test-question {margin: 10px 0 20px;}
.nb {border: none !important;}
th {font-size: 20px;}
